
  <%- include('include/header.ejs')%>
    <main>
      <h1>Welcome to <%= title %></h1>
      <a href="/heroes" style="margin-top:60px; display: block;">Enter the Hall of Heroes</a>
      </div>
    </main>
    <%-include('include/footer.ejs')%>
