<%- include('include/header.ejs')%>
<main>
  <h1>Register an Account</h1>
  <a href="javascript:history.back()">Go back</a>
  <%- include('include/form.ejs')%>
</main>


<%-include('include/footer.ejs')%>